<div class="d-none d-md-block">
    <div *ngIf="this.watchlist.length==0">
        <div id="noFound">
            <h1>No items found in Watchlist</h1>
        </div>
    </div>
    <div class="largeMyListCardContainer" *ngIf="this.watchlist.length!=0">
        <h2 style="height: 70px;margin-top: 20px;font-weight: 600;">My WatchList</h2>
        <a class="watchCard" *ngFor="let watchitem of watchlist.slice().reverse()" [routerLink]="['/watch'+'/'+watchitem.media+'/'+watchitem.id]" >
            <img class="watchImg" [src]="watchitem.poster_path">
            <div class="watchBgi">
                <span class="watchTxt">{{watchitem.showname}}</span>
            </div>
        </a>
    </div>
</div>

<div class="d-md-none">
    <div *ngIf="this.watchlist.length==0">
        <div id="noFound_sm">
            <h1>No items found in Watchlist.</h1>
        </div>
    </div>
    <div class="smallMyListCardContainer" *ngIf="this.watchlist.length!=0">
        <h2 style="height: 70px;margin-top: 20px;">My WatchList</h2>
        <a class="watchCard_sm" *ngFor="let watchitem of watchlist.slice().reverse()" [routerLink]="['/watch'+'/'+watchitem.media+'/'+watchitem.id]" >
            <img class="watchImg_sm" [src]="watchitem.poster_path">
            <div class="watchBgi_sm">
                <span class="watchTxt">{{watchitem.showname}}</span>
            </div>
        </a>
    </div>
</div>

